body {
    margin: auto 0;
    font-family: 'Montserrat', sans-serif;
  }
a {
    font-size: 17px;
    color: seashell;
    text-decoration: none;

    background-color: midnightblue;

    padding: 7px 7px;
    border-radius: 10px;
}
a:hover {
    background-color: royalblue;
}
h1 {
    color: midnightblue;
    text-align: center;
}
h3 {
    color: midnightblue;
}
p {
    font-family: 'Esteban', serif;
}




.top-nav {
    background-color: midnightblue;
    
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}
.top-nav li {
    display: inline-block;
    margin: 10px;
    user-select: none;
}
.top-nav li:hover {
    text-decoration: underline;
}
nav [aria-current=page] {
    font-weight: bolder;
    font-size: large;
}
.pulldown-menu {
    display: none;
    position: absolute;
    background-color: royalblue;
    border: 1px solid midnightblue;

    margin-top: 10px;
    padding: 2px;
    border-radius: 5px;
}
.pulldown-menu li {
    display: block;
}
.pulldown-menu a {
    padding: 5px;
    background-color: royalblue;
}
.pulldown-menu a:hover {
    background-color: cornflowerblue;
}
.top-nav li:hover .pulldown-menu {
    display: block;
}



.intro {
    background-image: url(intro-back.png);
    background-size: cover;
    height: 500px;

    text-align: center;
}
.intro-text {
    padding-top: 150px;
    color: seashell;
}
.intro-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: lighter;
}
.intro-text h2 {
    font-weight: lighter;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}



.intro-project {
    margin-left: 250px;
    margin-right: 250px;
}
.intro-project h1 {
    padding-top: 20px;
}
.intro-project ul {
    font-family: 'Esteban', serif;
    margin-bottom: 20px;
}
.intro-project h3 {
    margin-top: 50px;
}
.introproj-button {
    text-align: center;
}

.projects {
    margin-left: 170px;
    margin-right: 170px;
}
.projects h1 {
    padding-top: 80px;
    margin-top: 50px;
}
.projects h3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
}
.project1-img {
    float: right;
    margin-left: 10px;
    height: 220px;
}
.project2-img {
    float: left;
    margin-right: 15px;
    height: 300px;
}



.contact-me {
    margin-top: 100px;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
}
.contact-me h1 {
    font-size: 20px;
    font-weight: lighter;
}
.contact-me i {
    margin-right: 5px;
    font-size: 18px;
  }